# Entornos y configuraciones
.env
.env.backup
.env.production
Homestead.json
Homestead.yaml
auth.json

# Dependencias y builds
/node_modules
/vendor
# /public/build
# /public/hot

# Almacenamiento y caché
/storage/*.key
/storage/pail
/public/storage
/public/images
/images
.phpunit.cache
.phpunit.result.cache

# Logs
npm-debug.log
yarn-error.log

# Configuraciones de IDEs y editores
/.fleet
/.idea
/.nova
/.vscode
/.zed
.phpactor.json